<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dijkstra</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="section has-background-bicolor-dark"></div>
  <div class="section has-background-bicolor-light"></div>
  <section class="section has-background-white">
    <div class="container">
      <h1 class="title">DIJKSTRA</h1>
      <p class="subtitle">The Shortest Path Finder</p>
      <%= yield %>
    </div>
  </section>
  </body>
</html>
